.nav-item .nav-link {
  color: #fff !important;
  font-size: 13px;
  text-transform: capitalize;
  margin: 5px 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}

header {
  background-color: #111;
  color: #fff;
  overflow: hidden;
}

header .hero-section {
  padding: 60px 0;
}

header #svg-animation image {
  -webkit-filter: invert(95%) sepia(9%) saturate(16%) hue-rotate(30deg) brightness(87%) contrast(106%);
          filter: invert(95%) sepia(9%) saturate(16%) hue-rotate(30deg) brightness(87%) contrast(106%);
}

header #svg-animation .cic-logo-animation {
  -webkit-animation: updown_logo 4s ease infinite;
  animation: updown_logo 4s ease infinite;
}

header #svg-animation .svg-elements-1-animation {
  -webkit-animation: updown1 3s ease 2;
  animation: updown1 3s ease 2;
}

header #svg-animation .svg-elements-2-animation {
  -webkit-animation: updown2 2s ease 2;
  animation: updown2 2s ease 2;
}

@-webkit-keyframes updown_logo {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes updown_logo {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes updown1 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes updown1 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes updown2 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes updown2 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

header #svg-animation .path {
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s linear forwards;
  animation: dash 3s linear forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

header #svg-animation .path-reverse {
  fill: none;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: dash-reverse 2s linear forwards;
  animation: dash-reverse 2s linear forwards;
}

@-webkit-keyframes dash-reverse {
  from {
    stroke-dashoffset: -500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-reverse {
  from {
    stroke-dashoffset: -500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#svg-btn {
  display: inline;
}

#svg-btn svg {
  margin-bottom: 40px;
  font-size: 20px;
}

#svg-btn .btn {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#svg-btn .text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

#svg-btn .subCircle {
  pointer-events: none;
}

#svg-btn .strokeW {
  -webkit-animation: strokeW 0.6s forwards;
          animation: strokeW 0.6s forwards;
}

@-webkit-keyframes strokeW {
  to {
    stroke-width: 1.16;
  }
}

@keyframes strokeW {
  to {
    stroke-width: 1.16;
  }
}

#download-btn {
  background: #6c757d;
  width: 200px;
  padding: 5px 5px;
  padding-right: 10px;
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: inset 1px 2px 7px black, inset -1px -1px 2px white;
          box-shadow: inset 1px 2px 7px black, inset -1px -1px 2px white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#download-btn .c1 {
  width: 55px;
  height: 55px;
  margin: 0;
  -webkit-box-shadow: 1px 1px 20px -4px #141414, inset 0px 0px 20px white;
          box-shadow: 1px 1px 20px -4px #141414, inset 0px 0px 20px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

#download-btn .c1 .c2 {
  width: 40px;
  height: 40px;
  -webkit-box-shadow: inset 0px 0px 6px #ddd;
          box-shadow: inset 0px 0px 6px #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #000;
}

.solutions {
  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.solutions .main-row {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid darkblue;
}

.flip-book {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: block;
  background-size: cover;
  overflow: hidden;
  height: 600px;
  margin-bottom: 50px;
}

.page {
  padding: 20px;
  background-color: #31302e;
  color: white;
  border: solid 1px #2b2a2a;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  overflow: hidden;
}

.page .page-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.page .page-content .page-header {
  height: 30px;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
}

.page .page-content .page-image {
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.page .page-content .page-text {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 80%;
  text-align: justify;
  margin-top: 10px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: solid 1px #f4e8d7;
}

.page .page-content .page-footer {
  height: 0px;
  border-top: solid 1px #f4e8d7;
  font-size: 0%;
  color: white;
}

.page.--left {
  border-right: 0;
  -webkit-box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--right {
  border-left: 0;
  -webkit-box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--right .page-footer {
  text-align: right;
}

.page.hard {
  background-color: #f2e8d9;
  border: solid 1px #998466;
}

.page.page-cover {
  background-color: #3b3b3b;
  color: white;
  border: solid 1px white;
}

.page.page-cover h2 {
  text-align: center;
  padding-top: 50%;
  font-size: 210%;
}

.page.page-cover.page-cover-top {
  -webkit-box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.page.page-cover.page-cover-bottom {
  -webkit-box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
}

.swot-section {
  background: rgba(0, 0, 0, 0.822);
  height: 100vh;
  margin: 0;
  color: #fff;
}

.swot-section .swot-circles {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.swot-section .swot-circles .box {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.swot-section .swot-circles .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: relative;
}

.swot-section .swot-circles .circle h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.swot-section .swot-circles .swot1 .bar,
.swot-section .swot-circles .swot2 .bar {
  content: "";
  position: absolute;
  width: 60px;
  height: 200px;
  background: #aaa;
  opacity: 0.5;
  inset: 0;
  z-index: -1;
  top: 35px;
  left: 20px;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
}

.swot-section .swot-circles .swot1 .bar1,
.swot-section .swot-circles .swot2 .bar1 {
  content: "";
  position: absolute;
  width: 60px;
  height: 200px;
  background: #aaa;
  opacity: 0.5;
  inset: 0;
  z-index: -1;
  -webkit-transform-origin: 0 100% 0;
          transform-origin: 0 100% 0;
  -webkit-transform: rotate(90deg) scaleY(0%);
          transform: rotate(90deg) scaleY(0%);
}

.swot-section .swot-circles .swot1 .bar1 {
  top: 0px;
  left: 40px;
}

.swot-section .swot-circles .swot2 .bar1 {
  top: -180px;
  left: -120px;
}

@-webkit-keyframes running {
  from {
    -webkit-transform: rotate(90deg) scaleY(10%);
            transform: rotate(90deg) scaleY(10%);
  }
  to {
    -webkit-transform: rotate(90deg) scaleY(100%);
            transform: rotate(90deg) scaleY(100%);
  }
}

@keyframes running {
  from {
    -webkit-transform: rotate(90deg) scaleY(10%);
            transform: rotate(90deg) scaleY(10%);
  }
  to {
    -webkit-transform: rotate(90deg) scaleY(100%);
            transform: rotate(90deg) scaleY(100%);
  }
}

@-webkit-keyframes running-alt {
  from {
    -webkit-transform: scaleY(10%);
            transform: scaleY(10%);
  }
  to {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

@keyframes running-alt {
  from {
    -webkit-transform: scaleY(10%);
            transform: scaleY(10%);
  }
  to {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

.swot-section .swot-left,
.swot-section .swot-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.swot-section .swot-left .content,
.swot-section .swot-right .content {
  padding: 10px;
  border-radius: 10px;
}

.swot-section .swot-left .title,
.swot-section .swot-right .title {
  font-size: 22px;
}

.visualise .main-row {
  min-height: 100vh;
}

.visualise .main-row .big {
  font-size: 55px;
}

.visualise .main-row .sub-big {
  font-size: 25px;
}

.visualise .main-row .text {
  font-weight: normal;
  font-size: 16px;
}

.visualise .lt,
.visualise .rt {
  color: #fff;
  padding: 50px;
}

.visualise .lt {
  background: #696868;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.visualise .lt .under-circle {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  width: 50%;
  max-width: 50%;
  margin-left: auto;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  left: 80px;
  z-index: 1;
}

.visualise .lt .under-circle::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: #696868;
  border-radius: 50%;
  top: -80px;
  right: -120px;
  z-index: -1;
}

.visualise .lt .content-div {
  width: 70%;
}

.visualise .rt {
  background: rgba(77, 77, 77, 0.664);
}

.products .sub-sec {
  margin-bottom: 180px;
  min-height: 300px;
  padding: 30px;
}

.products .sub-sec .left-bar,
.products .sub-sec .right-bar,
.products .sub-sec .down-bar {
  opacity: 0.5;
}

.products .sub-sec.shadow:nth-child(even) {
  position: relative;
}

.products .sub-sec.shadow:nth-child(even) .left-bar,
.products .sub-sec.shadow:nth-child(even) .down-bar {
  position: absolute;
  background: #000;
  inset: 0;
}

.products .sub-sec.shadow:nth-child(even) .left-bar {
  width: 60%;
  height: 50px;
  top: 40%;
  left: -60%;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-transform: scaleX(0%);
          transform: scaleX(0%);
}

.products .sub-sec.shadow:nth-child(even) .down-bar {
  width: 50px;
  height: 100%;
  top: 56.7%;
  left: -60%;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
}

.products .sub-sec.shadow:nth-child(odd) {
  position: relative;
}

.products .sub-sec.shadow:nth-child(odd) .right-bar,
.products .sub-sec.shadow:nth-child(odd) .down-bar {
  position: absolute;
  background: #000;
  inset: 0;
  -webkit-transform: scale(0%, 0%);
          transform: scale(0%, 0%);
}

.products .sub-sec.shadow:nth-child(odd) .right-bar {
  width: 60%;
  height: 50px;
  top: 40%;
  left: 100%;
  -webkit-transform-origin: 0 100% 0;
          transform-origin: 0 100% 0;
  -webkit-transform: scaleX(0%);
          transform: scaleX(0%);
}

.products .sub-sec.shadow:nth-child(odd) .down-bar {
  width: 50px;
  height: 100%;
  top: 56.7%;
  left: 151.3%;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
}

.products .sub-sec:nth-child(odd) {
  text-align: right;
}

.funnel {
  padding: 50px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #222;
}

.funnel .slideup-card {
  margin-bottom: 50px;
  opacity: 0.9;
  padding: 10px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background: #fff;
  border-radius: 10px;
  color: #000;
}

.funnel .slideup-card .title {
  font-size: 15px;
  font-weight: bold;
}

.funnel .slideup-card .desc {
  font-size: 14px;
}

.funnel .slideup-card:first-child {
  margin-top: 80px;
}

.funnel .lt {
  padding: 0 50px;
}

.funnel .rt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.funnel .rt .funnel-shape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.funnel .rt .funnel-shape .dia {
  border: none;
  -webkit-clip-path: polygon(0 0, 100% 0, 65% 100%, 35% 100%);
          clip-path: polygon(0 0, 100% 0, 65% 100%, 35% 100%);
}

.funnel .rt .funnel-shape .top-dia {
  width: 360px;
  height: 190px;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  background: turquoise;
}

.funnel .rt .funnel-shape .mid-dia {
  width: 253px;
  height: 190px;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
  background: violet;
}

.funnel .rt .funnel-shape .bottom-dia {
  width: 175px;
  height: 190px;
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
          clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
  background: wheat;
}

.revenue {
  padding: 50px;
}

.revenue .cards {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.revenue .cards .text {
  text-align: center;
}

.team .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .team-card {
  padding: 20px;
  width: 70%;
  min-height: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
}

.team .team-card .img-box {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.team .team-card .prof,
.team .team-card .name {
  margin-top: 20px;
  font-weight: bold;
  font-size: 17px;
}

.team .team-card .name {
  font-size: 20px;
  margin-bottom: 20px;
}

.team .team-card .list {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.team .team-card .list li {
  font-size: 13px;
}

.roadmap {
  background: #222;
  color: #fff;
}

.roadmap .main-row .float,
.roadmap .main-row .desc {
  padding: 50px;
}

.roadmap .main-row .float {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-right: 1px solid #fff;
  position: relative;
}

.roadmap .main-row .float .content {
  border: 1px solid #fff;
  padding: 5px 10px;
  background: #fff;
  color: #000;
  font-size: 14px;
}

.roadmap .main-row .float::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px 10px 2px #fff, 3px 3px 60px #fff;
          box-shadow: 1px 1px 10px 2px #fff, 3px 3px 60px #fff;
}

.token-allocation {
  background: #111;
  color: #fff;
}

.token-allocation .main-row {
  height: 400px;
  overflow: hidden;
}

.token-allocation .main-row .lt,
.token-allocation .main-row .rt {
  padding: 20px 40px;
}

.token-allocation .main-row .lt .title,
.token-allocation .main-row .rt .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  font-size: 15px;
  background: #444;
}

.token-allocation .main-row .chart,
.token-allocation .main-row .graph {
  height: 300px;
  max-height: 300px;
  width: 100%;
  background: #333;
}

.token-allocation .main-row #graph {
  height: 300px;
}

.token-emission {
  background: #111;
  padding: 50px 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.token-emission .main-div {
  min-height: 400px;
  background: #222;
  margin-bottom: 20px;
}

.token-emission .main-div .title {
  background: #333;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  padding: 5px 10px;
  color: #fff;
  -webkit-transform: translate(0px, -13px);
          transform: translate(0px, -13px);
}

.token-emission .row .lt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.token-emission .row .lt .nos {
  background: #333;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
  height: 80px;
  color: #fff;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.token-emission .row .rt .table {
  color: #fff;
  font-size: 13px;
}

.token-emission .row .rt .table td {
  border: 1px solid #fff;
  text-align: center;
}

.token-release {
  background: #222;
  min-height: 400px;
  padding: 20px;
}

.token-release .table-top {
  color: #fff;
  padding: 10px;
  border: none;
}

.token-release .table-top td,
.token-release .table-top th {
  font-size: 13px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  background: #333;
}

.token-release .table {
  border: none;
}

.token-release .table tr {
  color: #fff;
  font-size: 14px;
  border: none;
}

.token-release .table tr td,
.token-release .table tr th {
  text-align: center;
  border: none;
}

.token-release .table tr.data {
  background: #444;
}

.token-release .table tr:not(.data) {
  border-bottom: 0.6px solid #fff;
}

.token-release .table tr:first-child {
  border: none;
}

.fund-usage {
  background: #111;
  min-height: 400px;
  padding: 20px;
}

.fund-usage .lt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fund-usage .rt #pie-chartdiv {
  width: auto;
  height: 350px;
  color: #fff !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .scene {
    width: 90%;
    height: 90%;
    margin: 5%;
  }
}
/*# sourceMappingURL=style.css.map */