.nav-item .nav-link {
  color: #fff !important;
  font-size: 13px;
  text-transform: capitalize;
  margin: 5px 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "poppins-bold";
  src: url("fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "nunito";
  src: url("fonts/Nunito/Nunito-Bold.ttf");
}

body {
  font-family: "nunito";
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: "poppins-bold";
}

header {
  background-color: #111;
  color: #fff;
  overflow: hidden;
}

header .hero-section {
  padding: 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #svg-animation .invert {
  -webkit-filter: invert(95%) sepia(9%) saturate(16%) hue-rotate(30deg) brightness(87%) contrast(106%);
          filter: invert(95%) sepia(9%) saturate(16%) hue-rotate(30deg) brightness(87%) contrast(106%);
}

header #svg-animation .cic-logo-animation {
  -webkit-animation: updown_logo 4s ease infinite;
  animation: updown_logo 4s ease infinite;
}

header #svg-animation .svg-elements-1-animation {
  -webkit-animation: updown1 3s ease 2;
  animation: updown1 3s ease 2;
}

header #svg-animation .svg-elements-2-animation {
  -webkit-animation: updown2 2s ease 2;
  animation: updown2 2s ease 2;
}

@-webkit-keyframes updown_logo {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes updown_logo {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes updown1 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes updown1 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes updown2 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes updown2 {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

header #svg-animation .path {
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s linear forwards;
  animation: dash 3s linear forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

header #svg-animation .path-reverse {
  fill: none;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: dash-reverse 2s linear forwards;
  animation: dash-reverse 2s linear forwards;
}

@-webkit-keyframes dash-reverse {
  from {
    stroke-dashoffset: -500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-reverse {
  from {
    stroke-dashoffset: -500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#svg-btn {
  display: inline;
}

#svg-btn svg {
  margin-bottom: 40px;
  font-size: 20px;
}

#svg-btn .btn {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#svg-btn .text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

#svg-btn .subCircle {
  pointer-events: none;
}

#svg-btn .strokeW {
  -webkit-animation: strokeW 0.6s forwards;
          animation: strokeW 0.6s forwards;
}

@-webkit-keyframes strokeW {
  to {
    stroke-width: 1.16;
  }
}

@keyframes strokeW {
  to {
    stroke-width: 1.16;
  }
}

#download {
  padding: 2px 5px;
  min-width: 50px;
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #6c757d;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 10%;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

#download .circle {
  width: 100%;
  height: 100%;
  inset: 0;
  top: 100%;
  border-radius: 50%;
  position: absolute;
  background: chocolate;
  -webkit-transition: all 1s 1s linear;
  transition: all 1s 1s linear;
}

#download .ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  color: #000;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: auto;
  z-index: 2;
}

#download .ico .fas {
  -webkit-transition: all 1s 1s linear;
  transition: all 1s 1s linear;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

#download .text {
  margin-left: auto;
  line-height: 45px;
  overflow: hidden;
  padding: 0px 6px;
  width: 100px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes download-alt {
  from {
    width: -webkit-fit-content;
    width: fit-content;
    border-radius: 10%;
  }
  to {
    width: 50px;
    border-radius: 50%;
  }
}

@keyframes download-alt {
  from {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 10%;
  }
  to {
    width: 50px;
    border-radius: 50%;
  }
}

@-webkit-keyframes download {
  from {
    width: 90px;
  }
  to {
    width: 0;
  }
}

@keyframes download {
  from {
    width: 90px;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.solutions {
  overflow: hidden;
  background: #222;
  min-height: 70vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 0;
  margin: 0;
}

.solutions .main-row {
  width: 100%;
  height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.solutions .swiper {
  width: 290px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.solutions .swiper .swiper-pagination {
  top: 110%;
}

.solutions .swiper .swiper-pagination span {
  background: #fff;
}

.solutions .swiper .swiper-button-prev {
  left: -60%;
  color: #fff;
}

.solutions .swiper .swiper-button-next {
  right: -60%;
  color: #fff;
}

.solutions .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #0a0a0a;
  background: white;
  overflow: hidden;
}

.solutions .swiper-slide .title {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
}

.solutions .swiper-slide .list {
  margin-top: 20px;
}

.solutions .swiper-slide .list li {
  font-size: 15px;
  list-style: disc;
  font-weight: normal;
}

.solutions .swiper-slide .para {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 15px;
  font-family: "nunito";
}

.swot-section {
  background: rgba(0, 0, 0, 0.822);
  min-height: 80vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 30px;
  margin: 0;
  color: #fff;
}

.swot-section .swot-circles {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.swot-section .swot-circles .box {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.swot-section .swot-circles .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: relative;
}

.swot-section .swot-circles .circle h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.swot-section .swot-circles .swot1 .bar,
.swot-section .swot-circles .swot2 .bar {
  content: "";
  position: absolute;
  width: 60px;
  height: 200px;
  background: #aaa;
  opacity: 0.5;
  inset: 0;
  z-index: -1;
  top: 35px;
  left: 20px;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
}

.swot-section .swot-circles .swot1 .bar1,
.swot-section .swot-circles .swot2 .bar1 {
  content: "";
  position: absolute;
  width: 60px;
  height: 200px;
  background: #aaa;
  opacity: 0.5;
  inset: 0;
  z-index: -1;
  -webkit-transform-origin: 0 100% 0;
          transform-origin: 0 100% 0;
  -webkit-transform: rotate(90deg) scaleY(0%);
          transform: rotate(90deg) scaleY(0%);
}

.swot-section .swot-circles .swot1 .bar1 {
  top: 0px;
  left: 40px;
}

.swot-section .swot-circles .swot2 .bar1 {
  top: -180px;
  left: -120px;
}

@-webkit-keyframes running {
  from {
    -webkit-transform: rotate(90deg) scaleY(10%);
            transform: rotate(90deg) scaleY(10%);
  }
  to {
    -webkit-transform: rotate(90deg) scaleY(100%);
            transform: rotate(90deg) scaleY(100%);
  }
}

@keyframes running {
  from {
    -webkit-transform: rotate(90deg) scaleY(10%);
            transform: rotate(90deg) scaleY(10%);
  }
  to {
    -webkit-transform: rotate(90deg) scaleY(100%);
            transform: rotate(90deg) scaleY(100%);
  }
}

@-webkit-keyframes running-alt {
  from {
    -webkit-transform: scaleY(10%);
            transform: scaleY(10%);
  }
  to {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

@keyframes running-alt {
  from {
    -webkit-transform: scaleY(10%);
            transform: scaleY(10%);
  }
  to {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

.swot-section .swot-left,
.swot-section .swot-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.swot-section .swot-left .content,
.swot-section .swot-right .content {
  color: #000;
  padding: 10px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 1px 6px 10px #131212, 1px 6px 10px #292929, 1px 6px 10px #050505, 1px 6px 10px #292929, 1px 6px 10px #292929, 1px 6px 10px #1a1919;
          box-shadow: 1px 6px 10px #131212, 1px 6px 10px #292929, 1px 6px 10px #050505, 1px 6px 10px #292929, 1px 6px 10px #292929, 1px 6px 10px #1a1919;
}

.swot-section .swot-left .title,
.swot-section .swot-right .title {
  font-size: 22px;
  font-weight: bold;
}

.visualise .main-row {
  min-height: 100vh;
}

.visualise .main-row .big {
  font-size: 55px;
}

.visualise .main-row .sub-big {
  font-size: 25px;
}

.visualise .main-row .text {
  font-weight: normal;
  font-size: 16px;
}

.visualise .lt,
.visualise .rt {
  color: #fff;
  padding: 50px;
}

.visualise .lt {
  background: #696868;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.visualise .lt .under-circle {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  position: relative;
  width: 50%;
  max-width: 50%;
  margin-left: auto;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  left: 80px;
  z-index: 1;
}

.visualise .lt .under-circle::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  background: #696868;
  border-radius: 50%;
  top: -80px;
  right: -120px;
  z-index: -1;
}

.visualise .lt .content-div {
  width: 70%;
}

.visualise .rt {
  background: rgba(77, 77, 77, 0.664);
}

.products {
  background: #222;
  overflow: hidden;
}

.products .sub-sec.shadow {
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0;
}

.products .sub-sec.shadow .title {
  background: #aaa;
  color: #fff;
  padding: 10px 20px;
  font-size: 28px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.products .sub-sec.shadow .list {
  padding-left: 30px;
}

.products .sub-sec.shadow .list li {
  list-style: disc;
  font-size: 16px;
}

.products .sub-sec.shadow .para {
  margin: 0;
  padding: 10px;
}

.products .t-span {
  stroke: #fff !important;
}

.products .sub-sec {
  margin-bottom: 100px;
  min-height: 320px;
  border-radius: 20px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.products .sub-sec .left-bar,
.products .sub-sec .right-bar,
.products .sub-sec .down-bar {
  background: #fff;
}

.products .sub-sec .down-bar {
  height: 130%;
}

.products .sub-sec.shadow:nth-child(even) {
  position: relative;
}

.products .sub-sec.shadow:nth-child(even) .left-bar,
.products .sub-sec.shadow:nth-child(even) .down-bar {
  position: absolute;
  background: #fff;
  inset: 0;
}

.products .sub-sec.shadow:nth-child(even) .left-bar {
  width: 60%;
  height: 50px;
  top: 40%;
  left: -60%;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-transform: scaleX(0%);
          transform: scaleX(0%);
}

.products .sub-sec.shadow:nth-child(even) .down-bar {
  width: 50px;
  top: 52.7%;
  left: -60%;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
}

.products .sub-sec.shadow:nth-child(odd) {
  position: relative;
}

.products .sub-sec.shadow:nth-child(odd) .right-bar,
.products .sub-sec.shadow:nth-child(odd) .down-bar {
  position: absolute;
  inset: 0;
  -webkit-transform: scale(0%, 0%);
          transform: scale(0%, 0%);
}

.products .sub-sec.shadow:nth-child(odd) .right-bar {
  width: 60%;
  height: 50px;
  top: 40%;
  left: 100%;
  -webkit-transform-origin: 0 100% 0;
          transform-origin: 0 100% 0;
  -webkit-transform: scaleX(0%);
          transform: scaleX(0%);
}

.products .sub-sec.shadow:nth-child(odd) .down-bar {
  width: 50px;
  top: 52.7%;
  left: 151.2%;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
}

.funnel {
  padding: 50px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #000;
}

.funnel .slideup-card {
  margin-bottom: 50px;
  width: 80%;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 10px 4px #000, 0px 0px 10px -1px #000;
          box-shadow: 0px 0px 10px 4px #000, 0px 0px 10px -1px #000;
  padding: 20px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background: #fff;
  border-radius: 10px;
  color: #000;
  position: relative;
}

.funnel .slideup-card .line {
  position: absolute;
  width: 100%;
  height: 0.5px;
  background: #fff;
  top: 50%;
  left: 100%;
  -webkit-transform-origin: 0 100% 0;
          transform-origin: 0 100% 0;
  -webkit-transform: scaleX(0%);
          transform: scaleX(0%);
}

.funnel .slideup-card .title {
  font-size: 15px;
  font-weight: bold;
}

.funnel .slideup-card .desc {
  font-size: 14px;
}

.funnel .slideup-card:first-child {
  margin-top: 80px;
}

.funnel .lt {
  padding: 0 50px;
}

.funnel .rt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.funnel .rt .funnel-shape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.funnel .rt .funnel-shape .text1,
.funnel .rt .funnel-shape .text2,
.funnel .rt .funnel-shape .text3 {
  position: absolute;
  color: #fff;
}

.funnel .rt .funnel-shape .text1 {
  top: 100px;
  z-index: 10;
}

.funnel .rt .funnel-shape .text2 {
  top: 200px;
  z-index: 10;
}

.funnel .rt .funnel-shape .text3 {
  top: 280px;
  right: -45px;
  z-index: 10;
}

.revenue {
  padding: 50px;
}

.revenue .cards {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.revenue .cards .text {
  text-align: center;
}

.team {
  background: #000;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px 0 30px;
}

.team h1 {
  color: #fff;
  padding: 20px 0 0;
}

.team .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .team-card {
  padding: 20px;
  width: 70%;
  min-height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 30px -9px #000;
          box-shadow: 0px 4px 30px -9px #000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.team .team-card:hover .img-box {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.team .team-card .img-box {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 10px -2px #000;
          box-shadow: 0px 4px 10px -2px #000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.team .team-card .prof,
.team .team-card .name {
  margin-top: 5px;
  font-weight: bold;
  font-size: 17px;
}

.team .team-card .name {
  font-size: 20px;
  margin-bottom: 5px;
}

.team .team-card .list {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.team .team-card .list li {
  font-size: 14px;
  list-style: disc;
}

.roadmap {
  background: #222;
  color: #fff;
  position: relative;
}

.roadmap .waves1,
.roadmap .waves2,
.roadmap .waves3 {
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid;
  border-radius: 50%;
  background: #fff;
  -webkit-animation: wave 5s linear 0s infinite alternate;
          animation: wave 5s linear 0s infinite alternate;
}

.roadmap .waves1 {
  width: 300px;
  height: 300px;
  opacity: 0.1;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.roadmap .waves2 {
  width: 500px;
  height: 500px;
  opacity: 0.1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.roadmap .waves3 {
  width: 700px;
  height: 700px;
  opacity: 0.1;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  80% {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
}

.roadmap #float-image {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  width: 50px;
  height: auto;
  z-index: 2;
  top: 10%;
}

.roadmap .main-row .float,
.roadmap .main-row .desc {
  padding: 50px;
}

.roadmap .main-row .col-6:nth-child(odd) {
  border-right: 1px solid #fff;
}

.roadmap .main-row .float {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.roadmap .main-row .float .content {
  border: 1px solid #fff;
  padding: 5px 10px;
  background: #fff;
  margin: 0 auto;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  color: #000;
  font-size: 14px;
}

.roadmap .main-row .float::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px 10px 2px #fff, 3px 3px 60px #fff;
          box-shadow: 1px 1px 10px 2px #fff, 3px 3px 60px #fff;
}

.solution-provider {
  background: #111;
}

.solution-provider .main-row .col-6 {
  text-align: center;
}

.token-allocation {
  background: #111;
  color: #fff;
}

.token-allocation .main-row {
  height: 400px;
  overflow: hidden;
}

.token-allocation .main-row .lt,
.token-allocation .main-row .rt {
  padding: 20px 40px;
}

.token-allocation .main-row .lt .title,
.token-allocation .main-row .rt .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  font-size: 15px;
  background: #444;
}

.token-allocation .main-row .chart,
.token-allocation .main-row .graph {
  height: 300px;
  max-height: 300px;
  width: 100%;
  background: #333;
}

.token-allocation .main-row #graph {
  height: 300px;
}

.token-emission {
  background: #111;
  padding: 50px 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.token-emission .main-div {
  min-height: 400px;
  background: #222;
  margin-bottom: 20px;
}

.token-emission .main-div .title {
  background: #333;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
  padding: 5px 10px;
  color: #fff;
  -webkit-transform: translate(0px, -13px);
          transform: translate(0px, -13px);
}

.token-emission .row .lt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.token-emission .row .lt .nos {
  background: #333;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
  height: 80px;
  color: #fff;
  padding: 5px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.token-emission .row .rt .table {
  color: #fff;
  font-size: 13px;
}

.token-emission .row .rt .table td {
  border: 1px solid #fff;
  text-align: center;
}

.token-release {
  background: #222;
  min-height: 400px;
  padding: 20px;
}

.token-release .table-top {
  color: #fff;
  padding: 10px;
  border: none;
}

.token-release .table-top td,
.token-release .table-top th {
  font-size: 13px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  background: #333;
}

.token-release .table {
  border: none;
}

.token-release .table tr {
  color: #fff;
  font-size: 14px;
  border: none;
}

.token-release .table tr td,
.token-release .table tr th {
  text-align: center;
  border: none;
}

.token-release .table tr.data {
  background: #444;
}

.token-release .table tr:not(.data) {
  border-bottom: 0.6px solid #fff;
}

.token-release .table tr:first-child {
  border: none;
}

.fund-usage {
  background: #111;
  min-height: 400px;
  padding: 20px;
}

.fund-usage .lt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fund-usage .rt #pie-chartdiv {
  width: auto;
  height: 350px;
  color: #fff !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .scene {
    width: 90%;
    height: 90%;
    margin: 5%;
  }
}
/*# sourceMappingURL=style.css.map */